@import "bootstrap.css";
@import "~bootstrap/scss/bootstrap-grid.scss";
@import "https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap";
@import "https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Symbols+Outlined";

@mixin navLink {
  .nav-link {
    color: var(--bs-nav-tabs-link-active-color);
    &:hover {
      border: none;
      box-shadow: none;
      outline: none;
      transition: none !important;
    }
    &.active {
      color: var(--primary);
      background-color: transparent;
      border: none;
      position: relative;
      &::before {
        content: "";
        background: url("../img/heart.svg");
        display: inline-flex;
        width: 10px;
        height: 10px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
      }
    }
  }
}

:root {
  --primary: #234dca;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

// common
.form-control,
.form-select {
  &:focus {
    box-shadow: none;
  }
}

.btn-txt-primary {
  background: rgba(35, 77, 202, 0.07);
  color: var(--primary);
  border: none;
}
.btn-txt-success {
  background: rgba(212, 255, 179, 0.57);
  color: rgba(63, 125, 60, 1);
  border: none;
}

.highlight {
  color: rgba(255, 155, 37, 1);
}

.section {
  padding: 3rem 0;
  @include media-breakpoint-down(md) {
    padding: 2rem 0;
    .container {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  &.even {
    background-color: #f7f8fc;
  }
  .section-title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 2rem;
    span {
      position: relative;
      z-index: 1;
      display: inline-block;
      &::before {
        content: "";
        background: url("../img/title-bg.svg") center/100% no-repeat;
        width: 100%;
        height: 15px;
        display: block;
        position: absolute;
        right: 0;
        bottom: -3px;
        z-index: -1;
      }
    }
  }
}

.last-section {
  background: linear-gradient(
    to bottom,
    #f7f8fc 0%,
    #f7f8fc 70%,
    rgba(14, 36, 111, 1) 70%,
    rgba(14, 36, 111, 1) 100%
  );
  padding-bottom: 0;
  padding-left: 4rem;
  padding-right: 4rem;
  @include media-breakpoint-down(md) {
    padding: 0 1.5rem;
    .container {
      padding: 0;
    }
  }
}

.light-gray-section {
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffffff 50%,
    rgba(247, 248, 252, 1) 50%,
    rgba(247, 248, 252, 1) 100%
  );
}

.header-input {
  width: 245px;
  border: 1px solid rgba(143, 155, 193, 1);
  border-radius: 10px;
  @include media-breakpoint-down(xxl) {
    width: 200px;
  }
  input,
  input::placeholder {
    font-size: 14px;
    background-color: transparent;
    border: none;
  }
}

.header-bg {
  background: linear-gradient(rgba(14, 36, 111, 0.7), rgba(14, 36, 111, 0.7)),
    url("../img/header-bg.svg") center/cover no-repeat;
  padding: 7rem;
  @include media-breakpoint-down(md) {
    padding: 7rem 0 7rem;
  }
  &.pricing-bg {
    background: linear-gradient(rgba(14, 36, 111, 0.7), rgba(14, 36, 111, 0.7)),
      url("../img/pricing-bg.svg") center/cover no-repeat;
  }
  &.about-bg {
    background: linear-gradient(rgba(14, 36, 111, 0.7), rgba(14, 36, 111, 0.7)),
      url("../img/about-bg.svg") center/cover no-repeat;
  }
  &.blog-bg {
    background: linear-gradient(rgba(14, 36, 111, 0.7), rgba(14, 36, 111, 0.7)),
      url("../img/blog-bg.svg") -150px 50px / cover no-repeat;
  }
  &.contact-bg {
    background: linear-gradient(rgba(14, 36, 111, 0.7), rgba(14, 36, 111, 0.7)),
      url("../img/contact-bg.svg") -150px 50px / cover no-repeat;
  }
  &.faq-bg {
    background: linear-gradient(rgba(14, 36, 111, 0.7), rgba(14, 36, 111, 0.7)),
      url("../img/faq-bg.svg") -150px 50px / cover no-repeat;
  }
  .desc {
    color: #a7c8ff;
  }
}

// navbar
.navbar {
  padding: 1rem;
  .navbar-brand {
    color: #234dca;
    font-weight: 500;
  }
  @include navLink();
  .nav-link {
    margin: 0 0.5rem;
    font-size: 14px;
  }
  .navbar-toggler {
    border: none;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

// tab
.nav-tabs {
  border: none;
  @include navLink();
  .nav-item {
    &:focus-visible {
      outline: none;
    }
    .nav-link {
      box-shadow: none;
      border: none;
    }
  }
}

.featured-course__tab {
  display: flex;
  justify-content: center;
  @include media-breakpoint-down(md) {
    white-space: nowrap;
    overflow: auto hidden;
    flex-wrap: nowrap;
  }
}

// footer
footer {
  background: #0e246f;
  color: #ffffff;
  .footer-top {
    padding: 3rem 0;
    @include media-breakpoint-down(md) {
      padding: 3rem 1.5rem;
    }
    h6 {
      font-weight: 600;
      margin-bottom: 1rem;
    }
    .get-in-touch__ul {
      li {
        padding-left: 24px;
        position: relative;
        margin-bottom: 1rem;
        &::before {
          position: absolute;
          top: 3px;
          left: 0;
        }
        &.address {
          &::before {
            content: url("../img/map.svg");
          }
        }
        &.email {
          &::before {
            content: url("../img/envelope.svg");
          }
        }
        &.phone {
          &::before {
            content: url("../img/phone.svg");
          }
        }
        &.timing {
          &::before {
            content: url("../img/clock.svg");
          }
        }
      }
    }
    .follow-us__ul {
      li {
        img {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          width: 35px;
          height: 35px;
          background: #28387e;
          padding: 5px;
          margin-right: 0.5rem;
        }
        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
        a {
          color: #ffffff;
          display: flex;
          align-items: center;
          text-decoration: none;
        }
      }
    }
  }
  .copyright {
    background: #071a55;
    .copyright-container {
      color: #ffffff;
      padding: 0.75rem 1rem;
      text-align: center;
      @include media-breakpoint-down(md) {
        padding: 2rem 1rem;
        justify-content: center;
      }
      ul {
        display: flex;
        align-items: center;
        margin: 0;
        li {
          &:not(:last-child) {
            margin-right: 1.5rem;
          }
          a {
            color: #ffffff;
            text-decoration: none;
          }
        }
      }
      .top-arrow {
        background: #071a55;
        border: none;
        border-radius: 50%;
        padding: 0.5rem;
        margin-top: -3rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        @include media-breakpoint-down(md) {
          margin-top: -5rem;
        }
        img {
          background: #01cc83;
          border-radius: 50%;
          padding: 0.5rem;
        }
      }
    }
  }
}

// font sizes
@for $i from 10 to 50 {
  .font-#{$i} {
    font-size: #{$i}px;
  }
}

// about page
.about-banner {
  height: 100%;
  max-width: 600px;
  background: url("../img/about/about-1.svg") top 24px left 180px/150px no-repeat,
    url("../img/about/about-dots.svg") top 0% left 156px no-repeat,
    url("../img/about/about-2.svg") bottom 0% left 180px/150px no-repeat,
    url("../img/about/about-3.svg") bottom 0% right 0%/200px no-repeat,
    linear-gradient(rgba(255, 155, 37, 1), rgba(255, 155, 37, 1)) bottom 0 left 0%/80px 120px
      no-repeat,
    linear-gradient(rgba(35, 77, 202, 1), rgba(35, 77, 202, 1)) top 0 right 20px/80px 80px no-repeat;
  @include media-breakpoint-down(md) {
    height: 300px;
  }
}

.get-help {
  position: absolute;
  bottom: 0;
  left: -7rem;
  @include media-breakpoint-down(md) {
    bottom: -3.5rem;
    left: 1rem;
    img {
      transform: rotate(-90deg);
      margin-right: 1rem;
      width: 40px;
    }
  }
}

.team-member-img {
  @include media-breakpoint-down(md) {
    margin: auto;
    max-width: 280px;
  }
}

.accordion {
  .accordion-item {
    border: none;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    .accordion-header {
      .accordion-button {
        background: #f7f8fc;
        border-radius: 10px;
        box-shadow: none;
        outline: none;
        &::after {
          content: "\e145";
          font-family: "Material Icons";
          font-size: 18px;
          background: none;
        }
        &:not(.collapsed) {
          font-weight: bold;
          color: var(--primary);
          border-radius: 10px 10px 0 0;
          &::after {
            content: "\e15b";
          }
        }
      }
    }
    .accordion-body {
      background: #f7f8fc;
      padding-bottom: 2rem;
    }
  }
}

// faq
.faq-form {
  .form-control,
  .form-select {
    border-width: 0 0 1px;
    border-radius: 0;
    background: transparent;
    padding-left: 0;
    padding-right: 1.5rem;
    resize: none;
  }
  .form-field {
    position: relative;
    &::after {
      font-family: "Material Icons Outlined";
      position: absolute;
      right: 1rem;
      top: 0.5rem;
    }
  }
  .fname {
    &::after {
      content: "\e7ff";
    }
  }
  .mobile {
    &::after {
      content: "\e0cd";
    }
  }
  .subject {
    &::after {
      content: "\e5cf";
    }
  }
  .email {
    &::after {
      content: "\e0be";
    }
  }
  .description {
    &::after {
      content: "\e3c9";
    }
  }
}

.text-muted {
  color: rgba(125, 128, 134, 1) !important;
}

$variants: (
  "warning" rgba(255, 155, 37, 0.12) rgba(171, 95, 5, 1),
  "success" rgba(212, 255, 179, 0.57) rgba(63, 125, 60, 1)
);

@each $name, $bgColor, $textColor in $variants {
  .badge.badge-#{$name} {
    color: $textColor;
    background-color: $bgColor;
  }
}

.contact-form {
  .form-control {
    border: none;
    border-radius: 0.5rem;
    background: rgba(243, 244, 248, 1);
    resize: none;
    padding: 0.75rem 1.25rem;
    &::placeholder {
      color: rgba(108, 109, 114, 1);
    }
  }
}

.contact-info {
  background: url("../img/dots.svg") top 10px right no-repeat;
}
